<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">Encontra a raiz da equação usando o método de bissecção</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <!-- function -->
                <md-input-container md-no-float class="md-block">
                    <input ng-model="equation" placeholder="f(x) = 0">
                </md-input-container>

                <div layout-gt-sm="row">
                    <!-- interval a -->
                    <md-input-container md-no-float class="md-block" flex="35">
                        <input ng-model="parameters.a" placeholder="a">
                    </md-input-container>
                    <!-- interval b -->
                    <md-input-container md-no-float class="md-block" flex="35">
                        <input ng-model="parameters.b" placeholder="b">
                    </md-input-container>
                    <!-- tolerance -->
                    <md-input-container md-no-float class="md-block" flex="35">
                        <input ng-model="parameters.tolerance" placeholder="repetições">
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="$ctrl.calculate(equation, parameters)">Encontrar</md-button>
                <md-button class="md-raised" ng-click="$ctrl.clear()">Limpar</md-button>
            </md-card-actions>
        </md-card>

        <md-card ng-if="$ctrl.solved">
            <md-card-title>
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">O valor da raiz é: {{ $ctrl.solved.value}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>

        <!-- math graph -->
        <md-card>
            <div id="plot"></div>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-content>
                <div class="md-toolbar-tools">
                    <span>Normal</span>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>